extends layout
extends navbar
block content
    .jumbotron#about
        .container
            - var aboutText = "No one needs another URL minifier, but this is the only one I know of that is Star Wars themed! Absolutely no one's using it, so be the first one and while your at it, create a pull request and make it better! This may not be the URL shortener the Internet needs, but it's what the Internet deserves."
            h2 FirstOrd.er URL Shortener
            p#about= aboutText
            p: a(href="https://github.com/rctyler/FirstOrderUrlShortener" class=["btn", "btn-warning", "btn-md"])
                    | Open-Source Repo on GitHub &#187;
            p#about This app was built using AngularJS, Jade, and Bootstrap. It is backed by MongoDB, ands runs off of a node.js server.
            img.starwars.img-responsive.img-rounded(src="http://www.hdwallpapers.in/walls/star_wars_episode_vii_the_force_awakens-wide.jpg")
