extends layout
extends navbar
block content
    .jumbotron#about
        .container
            - var aboutText = "No one needs one more URL minifier, but this the only one I know of that Star Wars themed! Absolutely no one's using this open source project, so be the first one! While your at it, feel free to make it better. This may not be the URL shortener the Internet needs, but it's what the Internet deserves."
            h2 FirstOrd.er URL Shortener
            p#about= aboutText
            p: +button("warning", "https://github.com/rctyler/TylerUrlShortener", "medium") GitHub &#187;
            p#about This app was built using AngularJS, Jade, and Bootstrap. It is backed by MongoDB, ands runs off of a node.js server.
            img.starwars.img-responsive.img-rounded(src="http://www.hdwallpapers.in/walls/star_wars_episode_vii_the_force_awakens-wide.jpg")
