extends layout
extends navbar

block content
    .container
        p 
            h3 Curt Tyler
        p 
            strong Email:  
            a.link(href='mailto:r.curt.tyler@gmail.com') r.curt.tyler@gmail.com
        p 
            strong LinkedIn: 
            a.link(href='https://www.linkedin.com/in/curttyler') https://www.linkedin.com/in/curttyler
        p 
            strong GitHub: 
            a.link(href='https://github.com/rctyler/') https://github.com/rctyler
        br
        img.starwars.img-responsive.img-rounded(src="http://images5.alphacoders.com/640/640375.jpg")