extends layout
extends navbar

block content
    .row       
       .col-xs-12
            label#inputUserName= "Shorten URL:"
    .row
       .col-xs-12
            input#inputUserName(ng-model='longUrl' ng-change='clearShortUrl()' type='text', placeholder='Enter long url', size='43rem')
            +button("warning", "#", "small", "submitBtn", "processUrl(longUrl)") Shorten
    .row
        .col-xs-12
            br
    .row
        .col-md-4.col-sm-6.col-xs-12
            +panel("Results", "primary") 
                strong Long Url:
                |  <span><a ng-cloak class='link' href='http://{{ longUrl }}'>{{ longUrl }}</a></span>
                br
                strong Short Url:
                |  <span><a ng-cloak class='link' href='http://localhost:3000/{{ shortUrlHash }}'>{{ shortUrl }}</a></span>
    .row
        .col-xs-12
            img.starwars.img-responsive.img-rounded(src="http://images5.alphacoders.com/640/640375.jpg")