include mixins

extends layout

block navBarContent
    +nav("tyl.er URL Shortener", "dropdown_menu", "default", "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Oslo_T-bane_Logo.svg/1024px-Oslo_T-bane_Logo.svg.png")
        +nav_item("/index.html") Home
        +nav_item("/about.html") About
        +nav_item("/contact.html") Contact
